.header {
  display: flex;
  height: 4rem;
  padding: 0.8em 1em;
  background: black;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 1em;
  cursor: pointer;
}

.title {
  padding-left: 5px;
}

.input {
  flex-basis: 100%;
  font-size: 1.2rem;
  outline: 0;
}

.button {
  background-color: darkgray;
  outline: 0;
}

.buttonImage {
  height: 100%;
  padding: 0.5em 0.2em;
}
