@value makerGreen, makerWhite, makerBlack from '../../common/colors.css';

.header {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 0.5em;
  border-radius: 2em 2em 0 0;
  background-color: makerBlack;
  margin-top: 2rem;
}

.logo {
  width: 3em;
}

.title {
  margin: 0;
  color: makerWhite;
}

.logout {
  position: absolute;
  right: 3em;
  top: 1em;
  padding: 0.8em;
  border-radius: 20%;
  background-color: makerBlack;
  color: makerWhite;
  outline: 0;
  border: 0;
  cursor: pointer;
}
